

services:
  mlflow:
    image: python:3.10-slim
    container_name: mlflow
    working_dir: /mlflow
    volumes:
      - ./mlflow:/mlflow
    ports:
      - "5000:5000"
    command: >
      sh -c "
      pip install mlflow &&
      mlflow server
        --backend-store-uri sqlite:///mlflow.db
        --default-artifact-root /mlflow/artifacts
        --host 0.0.0.0
        --port 5000
      "

  backend:
    image: car-backend:local
    container_name: car-backend
    ports:
      - "8000:8000"
    environment:
      MLFLOW_TRACKING_URI: http://mlflow:5000
    depends_on:
      - mlflow
