apiVersion: apps/v1
kind: Deployment
metadata:
  name: car-backend
  labels:
    app: car-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: car-backend
  template:
    metadata:
      labels:
        app: car-backend
    spec:
      containers:
        - name: backend
          image: car-backend:local
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          env:
            - name: MLFLOW_TRACKING_URI
              value: "http://mlflow:5000"
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 20

